/* Home Section */

.home__section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title {
    font-size: 4rem;
    margin-top: 7rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-family: var(--signature-Font);
}

.subtitle {
    font-size: 1.3rem;
    margin-top: 2rem;
    letter-spacing: var(--point_0_2);
    word-spacing: var(--piont_0_3);
    font-weight: 400;
}

.description {
    margin-top: 6rem;
}

.heading {
    font-size: 2rem;
    letter-spacing: var(--point_0_2);
    word-spacing: var(--piont_0_3);
    font-family: var(--signature-Font);
}

.work__lists {
    margin-top: 4rem;
    list-style: none;
    position: relative;
}

.works {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: var(--point_0_2);
    margin-top: 3rem;
    position: relative;
    cursor: pointer;
    padding: 1rem 0;
}

.works:before {
    content: "";
    background-color: var(--footerColor);
    width: 0.5rem;
    height: 80%;
    position: absolute;
    right: 0;
    top: 0;
}

.subtabs {
    list-style: none;
    position: absolute;
    right: -100%;
    top: -50%;
    width: 20rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--universal-color);
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.works:hover .subtabs {
    transform: scale(1);
}

.sub {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: var(--point_0_2);
    word-spacing: var(--piont_0_3);
    margin-top: 0.8rem;
    color: #fff;
}

.sub:nth-child(1) {
    margin-top: 0;
}

.arrow {
    position: absolute;
    margin-left: 0.6rem;
    transition: 0.3s ease-in-out;
}

.works:hover .arrow {
    right: 20%;
}

.sub__arrow {
    margin-right: 1rem;
}

.spin {
    font-size: 1rem;
    animation: anime 0.5s linear infinite;
}

.spin:nth-child(1) {
    margin-left: 1rem;
}
.spin:nth-child(2) {
    margin-left: 0.5rem;
}
.spin:nth-child(3) {
    margin-left: 0.5rem;
}

.inactive {
    font-size: 0.8rem;
    position: absolute;
    right: 10%;
    top: 50%;
    color: rgb(211, 10, 10);
    border: 1px solid rgb(211, 10, 10);
    padding: 0 0.2rem;
    text-transform: capitalize;
    transform: translateY(-50%);
    transition: 0.1s ease;
}
.active {
    font-size: 0.8rem;
    position: absolute;
    right: 30%;
    top: 50%;
    text-transform: lowercase;
    transform: translateY(-50%);
    transition: 0.1s ease;
    color: #fff;
    z-index: -1;
}

.works:hover .inactive {
    color: #fff;
    z-index: -1;
    border: none;
}
.works:hover .active {
    color: rgb(9, 206, 9);
    border: 1px solid rgb(9, 206, 9);
    padding: 0 0.2rem;
    z-index: 1;
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
    /* Home Section */

    .works {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 3px solid #fff;
        border-left: 3px solid var(--universal-color);
        border-right: 3px solid var(--universal-color);
        border-bottom: none;
        margin-top: 0;
        width: 40rem;
        font-weight: 600;
        background-color: var(--universal-color);
        color: rgb(131, 122, 122);
        transition: 0.1s ease-in-out;
    }

    .inactive {
        display: none;
    }

    .active {
        display: none;
    }

    .actives {
        border-top: 3px solid #fff;
        background: linear-gradient(
            to bottom,
            var(--universal-color) 50%,
            #fff 50%
        );
        letter-spacing: 1rem;
        word-spacing: 1rem;
        font-size: 1.3rem;
        color: #fff;
        font-weight: 700;
    }

    .works:last-child {
        border-bottom: 3px solid var(--universal-color);
    }
    .works:first-child {
        border-top: 3px solid var(--universal-color);
    }

    .works:before {
        display: none;
    }

    .subtabs {
        display: none;
        position: static;
        border-top: 3px solid var(--universal-color);
        width: 100%;
        transform: scale(1);
        transition: 0.3s ease-in-out;
        box-shadow: none;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: circle;
        background-color: #fff;
    }

    .sub__arrow {
        display: none;
    }

    .sub {
        font-size: 1.2rem;
        color: var(--universal-color);
    }

    .actives .subtabs {
        display: flex !important;
    }

    .arrow {
        position: relative;
        transform: rotate(90deg);
        transition: 0.3s;
    }

    .works:hover .arrow {
        right: 0;
    }

    .sub__arrow {
        margin-right: 2rem;
    }
    .actives .arrow {
        transform: rotate(270deg);
        bottom: 0.5rem;
    }
}

@media only screen and (max-width: 380px) {
    .works {
        width: 30rem;
    }
}
